<%- model_class = DocumentUseCase -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:use_case_id) %></th>
      <th><%= model_class.human_attribute_name(:url_path) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @document_use_cases.each do |document_use_case| %>
      <tr>
        <td><%= link_to document_use_case.id, document_use_case_path(document_use_case) %></td>
        <td><%= document_use_case.description %></td>
        <td><%= document_use_case.name %></td>
        <td><%= document_use_case.use_case_id %></td>
        <td><%= document_use_case.url_path %></td>
        <td><%=l document_use_case.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_document_use_case_path(document_use_case), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      document_use_case_path(document_use_case),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_document_use_case_path,
            :class => 'btn btn-primary' %>
