<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h1>Add Column</h1>
</div>

<%= simple_form_for [@project, @status] , :html => { :class => 'form-horizontal' } do |f| %>
	<div class="modal-body">
	<%= f.input :name %>
	<%= f.input :order,  :input_html =>{ :value => 1, :maxlength => 4  } %>
  	</div>

  	<div class="modal-footer">
  
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                '#', :class => 'btn', :data => {:dismiss => "modal"} %>
    </div>
  
<% end %>
