	<% @task.comments.each do |c| %>
		<div class="well">
          	<h5><%= c.user.name %></h5>
          	<%= if current_user = c.user %>
			<p><%= best_in_place c, :message, :type => :input, :path => update_project_status_task_comment_path(c.task.project, c.task.status, c.task, c) %></p>
			<%= else %>
			<p><%= c.message %></p>
			<%= end %>
		</div>
	<% end %>