<div class="accordion" id="#accordion_groups">
  <!-- Accordion group -->
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_groups" href='#collapse_task'>
          Task Documents
        </a>
      </div>
      <div id='collapse_task' class="accordion-body collapse">
        <div class="accordion-inner">
          <ul>
            <% @task.document_tasks.each do |d| %>
              <li>
                <a href="<%= d.url_path %>"><%= "#{d.name}.v#{d.version}" %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <!-- End accordion group -->
  <!-- Accordion group -->
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_groups" href='#collapse_use_case'>
          Use case Documents
        </a>
      </div>
      <div id='collapse_use_case' class="accordion-body collapse">
        <div class="accordion-inner">
          <% if @task.use_case_documents.count > 0 %>
            <ul>
                  <% @task.use_case_documents.each do |d| %>
                        <li><a href="<%= d.url_path %>"><%= d.name %></a></li>
                  <% end %>
                </ul>
          <% else %>
            <p>No documents found for <%= @task.name %> use case</p>
          <% end %>
        </div>
      </div>
    </div>
  <!-- End accordion group -->
 
</div>


<div class="form-actions", style = "margin-left:0px"  >
      <%= link_to t('.new', :default => "Upload a Document"),
            new_project_status_task_document_task_path(@project, @status, @task), 
            :class => 'btn btn-primary', :remote => true %>
</div>