<%= simple_form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
  <div id="select_task_options">
  <%= f.input :name %>
  <%= f.input :description, :as => :text, :input_html => { :cols => 30, :rows => 4 } %>
  <%= f.input :task_type, collection: ['Administration','Design','Features'] %>
  <%= f.input :project_id, collection: Project.all %>
  <%= f.input :status_id, collection: Status.where(:project_id => params[:pr_id]) %>
  <%= f.input :priority, collection: 1..5 %>
  </div>

  <div id="select_owners">
    <a>Select Owners:</a>
  <%= f.collection_check_boxes :user_ids, User.all, :id, :email %>
  </div>
  <!--%= f.input :user_ids, :as => :grouped_select, :collection => User.all(order: 'name'), :label_method => :email, :value_method => :id %-->
  <!--
= f.input :author, :as => :grouped_select, :collection => { 'Authors' => ['Jose', 'Carlos'] }, :group_method => :last, :label_method => :upcase, :value_method => :downcas
  <%= f.input :status_update_at %>
  <%= f.input :project_id %>
  <%= f.input :status_id %>
  <%= f.input :requirement_id %>
  <%= f.input :label_id %>
  <%= f.input :estimated_hours %>
  <%= f.input :effective_hours %>
  <%= f.input :priority %>
  <%= f.input :goal_id %>
  <%= f.input :task_depend_id %>
-->
  <div id="create_edit_task">
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>
  </div>
  </div>
<% end %>
