<%- model_class = ProjectRoleUser -%>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      
      <h1>Task</h1>

  </div>
  <%= bootstrap_flash %>


<%= simple_form_for [@project, @status, @task], :html => { :class => 'form-horizontal' }, :remote => true do |f| %>
  <div class="modal-body modal-body-task">
  <%= f.input :name %>
  <%= f.association :label, 
                    :include_blank => false,
                    :input_html => { class: 'chosen-select' } %>
  <%= f.input :priority, 
              collection: 1..5, 
              :include_blank => false,
              :input_html => { class: 'chosen-select' } %>
  <%= f.input :estimated_hours ,:include_blank => false, :input_html => {value: 1} %>
  <%= f.association :users,
                    :collection => @project.users,
                    :label_method => :email,
                    :include_blank => true,
                    :input_html => { class: 'chosen-select' } %>
  <% if @editing %>
    <%= f.input :status_id, collection: Status.where(:project_id => params[:project_id]), :include_blank => false %>
   <% end %> 
   <%= f.input :description, :as => :text, :input_html => { :cols => 30, :rows => 4 } %>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to "Cancel", '', :data => {:dismiss => "modal"}, :class => 'btn' %>            
  </div>
<% end %>
