
<%- model_class = UseCase -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= bootstrap_flash %>

<%= render 'nav_bar' %>

<div class="accordion" id="#accordion_groups">
  <% @use_case_groups.each do |group| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_groups" href='#collapse<%= "_#{group.id}" %>'>
          <%= group.name %>
        </a>
      </div>
      <div id='collapse<%= "_#{group.id}"%>' class="accordion-body collapse">
        <div class="accordion-inner">
          <ul>
            <% group.use_cases.each do |use_case| %>
              <li><%= link_to use_case.name, project_use_case_path(@project, use_case) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_use_case_path,
            :class => 'btn btn-primary' %>

            <%- content_for(:javascripts) do -%>
  <!-- <script type="text/javascript">var p_id =<%= @project.id %></script> -->
  <!-- <%= javascript_include_tag "boards_controller" %> -->
  <script type="text/javascript">


  </script>
<%- end -%>
