
<%- model_class = UseCase -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= render 'nav_bar' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th><%= model_class.human_attribute_name(:project_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @use_cases.each do |use_case| %>
      <tr>
        <td><%= link_to use_case.id, project_use_case_path(use_case.project, use_case) %></td>
        <td><%= use_case.name %></td>
        <td><%= use_case.data %></td>
        <td><%= use_case.project_id %></td>
        <td><%=l use_case.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_use_case_path(use_case.project, use_case), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_use_case_path(use_case.project, use_case),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_use_case_path,
            :class => 'btn btn-primary' %>

            <%- content_for(:javascripts) do -%>
  <!-- <script type="text/javascript">var p_id =<%= @project.id %></script> -->
  <!-- <%= javascript_include_tag "boards_controller" %> -->
  <script type="text/javascript">


  </script>
<%- end -%>
