<div style="margin-left:30px;">
	<h1>Add Tasks to Use Case <%= @use_case.name %></h1>

	<% if params[:type]=="step" %>
		<%= render :partial => "new_step_bar", :locals => {:step => 3} %>
		  <%else%>
<div class="page-header" style="margin-left:30px;">
</div>
	<%end%>

<div class="alert alert-info" style="top:50px;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Hint!</strong> Drag & Drop the tasks adding or removing them from the use case.
</div>
<div class="uc-tasks-container">

	<ul>
		<li class="uc-li">
			<div class="head"><%= @use_case.name %> Tasks
            <%= link_to "New Task", new_project_status_task_path(@project, @project.statuses.sort_by{|e| e[:order]}.first,:use_case =>@use_case.id), :data => {:toggle => "modal", :remote => true, :target => '#modal'}, :class=>"btn pull-right", :style=>"margin-right:20px;" %>
			</div>
			<ul class="sortable" data-type="use_case">
				<% @use_case.tasks.each_with_index do |task , i| %>
					<li class="uc-task" data-id="<%=task.id%>">
						<p class="status"> <%= task.status.name %> </p>
						<p class="name"> <%= task.name %> </p>
					</li>
				<% end %>
			</ul>
		</li>
	</ul>



	<div class="form-actions">
	<% if params[:type]=="step" %>
	<%= link_to "Back", requirements_project_use_case_path(@project,@use_case,:type=>"step"),:class=>"btn",:style =>""%>
    <%= link_to "Finish", project_use_case_path(@project,@use_case),:class=>"btn btn-primary",:style =>""%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_use_cases_path(@project,@use_case), :class => 'btn' %>

    <%else%>
      <%= link_to "Finish", project_use_case_path(@project,@use_case),:class=>"btn  btn-primary",:style =>""%>
    <%end%>
    </div>
</div>
<div class="p-tasks-container">
		<div>
			<div class="head">Project Tasks</div>
			<ul class="sortable" data-type="project">
				<% @project.tasks.where("use_case_id != ? OR use_case_id IS ?", @use_case.id,nil).each_with_index do |task , i| %>
					<li class="uc-task" data-id="<%=task.id%>">
						<p class="name"> <%= task.name %> </p>
						<p class="status"> <%= task.status.name %> </p>
					</li>

				<%end%>

			</ul>
			
		</div>


</div>

</div>

<% content_for :javascripts do %>
	<script type="text/javascript">

$( "ul.sortable" ).sortable({
      cursor: "move",
      connectWith: "ul.sortable",
      placeholder: "ui-state-highlight-task",
      forcePlaceholderSize: true,
      helper: "clone",
        appendTo: 'body',
        containment: 'body',        
        scroll: false,   
      start: function (event, ui) {
            $(ui.helper).addClass("dragging"); 
            $(ui.helper).appendTo('body');

      },
      stop: function(event, ui){
            var id = $(ui.item).data("id");
            var type = $(ui.item).parent().data("type");

            if(type=="project"){
				$.post( "<%= assign_use_case_project_path(@project) %>", { task_id: id, use_case: null } );
            }
            else{
            
            $.post( "<%= assign_use_case_project_path(@project) %>", { task_id: id, use_case: <%=@use_case.id%>  } );
        	}
      }
    });


	</script>
<% end %>