<%= simple_form_for @task_user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :task_id %>
  <%= f.input :user_id %>
  <%= f.input :developer_id %>
  <%= f.input :creator_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                task_users_path, :class => 'btn' %>
  </div>
<% end %>
