<div class="use_cases">
<div class="use_cases">
	<%- model_class = Requirement -%>
	<div class="page-header">
	  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human %></h1>
	</div>
	<%= render 'nav_bar' %>

	<table class="table table-striped">
	    <thead>
	      <tr>
	      	<th></th>
	        <th><%= model_class.human_attribute_name(:name) %></th>
	        <th><%= model_class.human_attribute_name(:version) %></th>
	        <th><%= model_class.human_attribute_name(:origin) %></th>
	        <th><%= model_class.human_attribute_name(:description) %></th>	        
	      </tr>
	    </thead>
	    <tbody>
	      <% @document_projects.each do |document_project| %>
	        <tr>
	          <td><%= check_box_tag "#{document_project.id}", "document_#{document_project.id}", @requirement.document_projects.include?(document_project), :class => "doc_checkbox" %></td>
	          <td><%= link_to document_project.name, document_project.url_path %></td>
	          <td><%= document_project.version %></td>
	          <td><%= document_project.origin %></td>  
	          <td><%= document_project.description %></td>	          
	        </tr>
	      <% end %>
	    </tbody>
  	</table>
</div>

<% content_for :javascripts do %>
	<script type="text/javascript">
		$('.doc_checkbox').change(function(){
			var document_id = $(this).attr('id');
			var requirement_id = "<%= @requirement.id %>"
			var value = $(this).is(':checked');

			var response = $.ajax({
  								url: "<%= add_document_project_requirement_path %>",
					  			data: {document_project_id: document_id, id: requirement_id, add: value},
					  			method: 'POST'
							});
		});
	</script>
<% end %>
