<%- model_class = Requirement -%>

<div class="use_cases">

<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= render 'nav_bar' %>

<div class="accordion" id="#accordion_groups">
  <% @requirements.each do |requirement| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="btn-group pull-right">
          <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Actions <i class="icon-white"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to attach_document_project_requirement_path(@project, requirement) do %>
                <i class="icon-file"></i> Attach document
              <% end %>
            </li>
            <li>
              <%= link_to edit_project_requirement_path(@project, requirement) do %>
                <i class="icon-edit"></i> Edit
              <% end %>
            </li>
            <li>
              <%= link_to project_requirement_path(@project, requirement),
                          :method => 'delete',
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                <i class="icon-trash"></i> Delete
              <% end %> 
            </li>
          </ul>
        </div>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_groups" href='#collapse<%= "_#{requirement.id}" %>'>
          <%= requirement.name %>
        </a> 
      </div>
      <div id='collapse<%= "_#{requirement.id}"%>' class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= requirement.description %></p>
          
          <% if requirement.use_cases.count > 0 %>
            <h5>Use cases</h5>
            <ul>
              <% requirement.use_cases.each do |use_case| %>
                <li><%= link_to use_case.name, project_use_case_path(@project, use_case) %></li>
              <% end %>
            </ul>
          <% end %>

          <% if requirement.tasks.count > 0 %>
            <h5>Tasks</h5>
            <ul>
              <% requirement.tasks.each do |task| %>
                <li><%= task.name %>
              <% end %>
            </ul>
          <% end %>

          <% if requirement.document_projects.count > 0 %>
            <h5>Documents</h5>
            <ul>
              <% requirement.document_projects.each do |d| %>
                <li><a href="<%= d.url_path %>"><%= d.name %></a></li>
              <% end %>
          <% end %>

          <br/>
          
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="form-actions use-cases" style="margin-left:0px">
<%= link_to t('.new', :default => t("New Requirement")),
            new_project_requirement_path(@project),
            :class => 'btn btn-primary' ,
            :data => {:toggle => "modal", :remote => true, :target => '#modal'}%>
</div>

<%- content_for(:javascripts) do -%>
  
<%- end -%>
