<%- model_class = DocumentProject -%>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= bootstrap_flash %>
<div class="modal-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @document_projects.each do |document_project| %>
        <tr>
          <td><%= link_to document_project.name, document_project.url_path %></td>
          <td><%= document_project.description %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_project_document_project_path(document_project.project, document_project), :class => 'btn btn-mini', :remote => true %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        project_document_project_path(document_project.project, document_project),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger',
                        :remote => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_project_document_project_path,
              :class => 'btn btn-primary', :remote => true %>
  <%= link_to "Cancel", '', :data => {:dismiss => "modal"}, :class => 'btn' %>            
</div>
