<%= simple_form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :initial_date %>
  <% if not @project.created_at.nil?%>
    <%= f.association :project_status, :include_blank => false %>
  <% end %>

  <% if @linkDropbox %>
  <a class="btn btn-success" href=<%= dropbox_auth_path  %> style="margin-left:220px;">Linked to Dropbox</a>
  <%= f.hidden_field :dropbox_token, :value => @dropbox_token %>
  <% else %>
  <a class="btn" href= <%= dropbox_auth_path  %>  style="margin-left:220px;">Link To dropbox</a>
  <% end %>

  <% if @linkGithub %>
  <a class="btn btn-success" href=<%= github_auth_path  %> style="margin-left:220px;">Linked to Github</a>
  <%= f.hidden_field :github_token, :value => @github_token %>
  <% else %>
  <a class="btn" href= <%= github_auth_path  %>  style="margin-left:220px;">Link To github</a>
  <% end %>  

  <% if @github_token %>
  <% if !@github_token.empty? %>
    <% if !@project.get_repo_names(@github_username,@github_token).empty?%>
      <%= f.input :repo_name, collection: @project.get_repo_names(@github_username,@github_token), :include_blank => false %>
      <%= f.hidden_field :github_user, :value => @github_username %>
    <% end %>
  <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  </div>
<% end %>
