<h1>My projects</h1>



<ul class='no-bullet'>
<% @roles.each do |rol| %>
    <li>
    <div class="well-small">  

        <h4><%= rol.project.name %></h4>
        <p>Rol: <%= rol.name %>
        <!--
        <%= rol.project.description %>
        <%= rol.project.initial_date %>
        <%= rol.project.finish_date %>
        -->
        /Status: <%= rol.project.status %></p>
        <%= link_to 'ver info', :controller => "projects", :action => "show", :id => rol.project%>
        <!--
        <% link_to 'Show', rol.project %> 
        <%= link_to 'Edit', edit_project_path(rol.project) %> 
        <%= link_to 'Destroy', rol.project, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        -->
    </div>
    </li>
<% end %>
  </ul>


<br />

 
<%= link_to 'New Project', new_project_path, :style=>'color:#FFFFFF', :class => "btn btn-inverse" %>



