<h1>Listing projects</h1>

<ul class='no-bullet'>
<% @roles.each do |rol| %>
    <li>
    <div class="well">    
        <h4><%= rol.project.name %></h4>
        <%= rol.name %>
        <!--
        <%= rol.project.description %>
        <%= rol.project.initial_date %>
        <%= rol.project.finish_date %>
        -->
        <%= rol.project.status %>
        <!--
        <% link_to 'Show', rol.project %> 
        <%= link_to 'Edit', edit_project_path(rol.project) %> 
        <%= link_to 'Destroy', rol.project, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        -->
    </div>
    </li>
<% end %>
  </ul>
</div>

<br />

<%= link_to 'New Project', new_project_path %>



