<h1>My projects</h1>


<% breadcrumb :projects, @projects %>

<ul class = 'no-bullet'>
        <% @projects.each do |project| %>

          <li>

            <div class="well well-small">
               <%= link_to boards_project_path(project) do %>
              <h4><%= project.name %></h4>
            
              <p>
                Role: <%= get_role(current_user, project) %>
                | Status: <%= project.project_status.name %>
                
              </p>
              <%= link_to t('.show', :default => t("helpers.links.Info")),
                      project_path(project), :class => 'btn btn-mini' %>
              <% if can? :destroy, project %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          project_path(project),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
              <% end %>
            </div>
            <%end%>
          </li>
        <% end %>
      </ul>



<div class="form-actions">
<%= link_to 'New Project', new_project_path, :class => "btn btn-primary" %>
</div>