<h1>My projects</h1>



<ul class = 'no-bullet'>
        <% @projects.each do |project| %>
          <li>
<<<<<<< HEAD
            <div class="well-small">
              <h4><%= project.name %></h4>
              <p>
                Rol: <%= get_role(current_user, project) %>
                /Status: <%= project.project_status.name %>
=======
           
            <div class="well-small" >
               <%= link_to boards_project_path(project) do %>
              <h4><%= project.name %></h4>
              <%end%>
              <p>
                Rol: <%= get_role(current_user, project) %>
                | Status: <%= project.project_status.name %>
>>>>>>> 34826f8cdf9a324a2e0b3ab80db2f06d5bad68aa
                
              </p>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
<<<<<<< HEAD

            </div>
=======
            </div>
            
>>>>>>> 34826f8cdf9a324a2e0b3ab80db2f06d5bad68aa
          </li>
        <% end %>
      </ul>



 
<<<<<<< HEAD
<%= link_to 'New Project', new_project_path, :class => "btn btn-primary" %>
<% breadcrumb :projects, @projects %>
=======
<%= link_to 'New Project', new_project_path, :class => "btn btn-primary" %>
>>>>>>> 34826f8cdf9a324a2e0b3ab80db2f06d5bad68aa
