<h1>Reports</h1>

<div class="row use_cases">
  <div class="span12"  style="border: thin solid #CCC">
    <div class="well">
      <p>
        <strong>Instructions:</strong> for use of graphs
      </p>
    </div>
      <%= form_tag do %>

      <div class='control-group'>
        <label class='control-label'>Initial Date</label>
        <div class='controls'>
            <%= text_field_tag :initial_date, nil %> 
        </div>
      </div>

      <div class='control-group'>
        <label class='control-label'>Final Date</label>
        <div class='controls'>
            <%= text_field_tag :final_date, nil %> 
        </div>
      </div>      
      
    <% end %>
  </div>
</div>
<br/> 

<div class="tabbable use_cases"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Graph #1</a></li>
    <li><a href="#tab2" data-toggle="tab">Graph #2</a></li>
    <li><a href="#tab3" data-toggle="tab">Graph #3</a></li>
    <li><a href="#tab4" data-toggle="tab">Graph #4</a></li>
  </ul>

  <div class="tab-content">
    
    <div id="tab1" class="tab-pane active" style="border: thin solid #CCC; min-height: 500px; min-width: 500px">
      <div class="well">
        <p>
          <strong>Instructions:</strong> for use of graphs
        </p>
      </div>
      <div id="graph1" class="graph">
      </div>
    </div>

    <div id="tab2" class="tab-pane" style="border: thin solid #CCC; min-height: 500px; min-width: 500px">
      <div class="well">
        <p>
          <strong>Instructions:</strong> for use of graphs
        </p>
      </div>
      <div id="graph2" class="graph">
      </div>
    </div>

    <div id="tab3" class="tab-pane" style="border: thin solid #CCC; min-height: 500px; min-width: 500px">
      <div class="well">
        <p>
          <strong>Instructions:</strong> for use of graphs
        </p>
      </div>
      <div id="graph3" class="graph">
      </div>
    </div>

    <div id="tab4" class="tab-pane" style="border: thin solid #CCC; min-height: 500px; min-width: 500px">
      <div class="well">
        <p>
          <strong>Instructions:</strong> for use of graphs
        </p>
      </div>
      <div id="graph4" class="graph">
      </div>
    </div>

  </div>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag "hierarchical_bars" -%>
  <%= javascript_include_tag "graph" -%>
  <%= javascript_include_tag "collapse_tree" -%>
<% end %>