<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Initial date:</b>
  <%= @project.initial_date %>
</p>

<p>
  <b>Finish date:</b>
  <%= @project.finish_date %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
