<h2><%= t "devise.invitations.new.header" %></h2>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>

  <%= f.input field %> 

  <p> Select role of the new user </p>
  <%= select_tag :role_guest, options_for_select( @roles_name, "Developer") %>

  <%= hidden_field_tag :project_id, @project.id %>

<% end -%>
</br></br>
<%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
<% end %>
