<div class="page-header">
  <h2>Set your password</h2>
</div>

<%= form_for(:password_set, :url => submit_password_invitation_path(:invitation_token => @invitation_token), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>

<div class="control-group">
  <%= f.label :password, :class => 'control-label' %>
  <div class="controls">
    <%= f.password_field :password, :autofocus => true, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password_confirmation, :class => 'control-label' %>
  <div class="controls">
    <%= f.password_field :password_confirmation, :class => 'text_field' %>
  </div>
</div>

<div class="form-actions">
  <%= f.submit "Change my password", :class => 'btn btn-primary' %>
</div>
<% end %>
