<div class="page-header">
  <h2>Welcome to SmartBoard project manager !</h2>
</div>

<h3>To complete your registration please set your password:<h3>
<%= form_for(:password_set, :url => submit_password_invitation_path(:invitation_token => @invitation_token), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>

<div class="control-group">
  <%= f.label :email, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :email, :value => @user.email , :disabled=> true, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password, :class => 'control-label' %>
  <div class="controls">
    <%= f.password_field :password, :autofocus => true, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password_confirmation, :class => 'control-label' %>
  <div class="controls">
    <%= f.password_field :password_confirmation, :class => 'text_field' %>
  </div>
</div>

<div class="form-actions">
  <%= f.submit "Set my password", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("Cancel")),
               root_path, :class => 'btn' %>
</div>
<% end %>
