<%= render :partial => 'lateral' %>

        <ul class="main-content main-content-small">


<% @statuses.each do |status|%>

	<li class='column'>
		<%= link_to "+", new_project_status_task_path(@project, status), :data => {:toggle => "modal", :remote => true, :target => '#modal'}, :class=>"btn pull-right" %>

		<h4 class='block text-center'><%= status.name%></h4>
		<div class='' data-id='<%=status.id%>'> </div>

		<% status.tasks.each do |task| %>
			<div class='task block'>
				<i class='icon-move pull-right'></i>
				<h5>
					<%= link_to task.name, project_status_task_path(task.status.project, task.status, task) ,:data => {:toggle => "modal", :remote => true, :target => '#modal'} %>
				</h5>


				<span class='label label-info' style="background-color: <%= task.label.color %>" >
					<%= task.label.name %>
				</span>
				<div class="block">
					<% task.users.each do |user| %>
						<img src='/assets/NA.jpg' data-toggle='tooltip' title=""></img>
					<% end %>
				</div>
			</div>
		<% end %>
  	</li>


<% end %>


<%- content_for(:javascripts) do -%>
  <!-- <script type="text/javascript">var p_id =<%= @project.id %></script> -->
  <!-- <%= javascript_include_tag "boards_controller" %> -->
<%- end -%>

</ul>
