<%= render :partial => 'lateral' %>

        <div class="main-content main-content-small">


<% @statuses.each do |status|%>

	<div class='column'>
		<button class= 'btn pull-right' ><%= link_to "+", new_project_status_task_path(@project, status), :data => {:toggle => "modal", :remote => true, :target => '#modal'} %></button>
		<h4 class='block text-center'><%= status.name%></h4>
		<div class='block' data-id='<%=status.id%>'> </div>

		<% status.tasks.each do |task| %>
			<div class='task block'>
				<i class='icon-move pull-right'></i>
				<h5>
					<a><%= task.name %></a>
				</h5>
				<span class='label label-info' style="background-color:#{task.color}">
					<%= task.label.name %>
				</span>
				<div class="block">
					<% task.users.each do |user| %>
						<img src='#' data-toggle='tooltip' title=""></img>
					<% end %>
				</div>
			</div>
		<% end %>

  </div>

<% end %>


<%- content_for(:javascripts) do -%>
  <script type="text/javascript">var p_id =<%= @project.id %></script>
  <%= javascript_include_tag "boards_controller" %>
<%- end -%>

</div>