        <div class="">
          <div class=" sidebar-nav ltl-nav ltl-nav-open">
            <ul class="ltl-nav-list">
              <li><%= image_tag("ltl_bar_task.png", :alt => "rss feed") %><h4>Tasks</h4></li>
              <li><%= image_tag("ltl_bar_test.png", :alt => "rss feed") %><h4>Tests</h4></li>
              <li><%= image_tag("ltl_bar_bugs.png", :alt => "rss feed") %><h4>Bugs</h4></li>
              <li><%= image_tag("ltl_bar_docs.png", :alt => "rss feed") %><h4>Docs</h4></li>
              <li><%= image_tag("ltl_bar_cal.png", :alt => "rss feed") %><h4>Calendar</h4></li>
              <li><%= image_tag("ltl_bar_use.png", :alt => "rss feed") %><h4>Use Cases</h4></li>
            </ul>
            <div class="close-btn" onClick="ltl_bar_change();"></div>
          </div><!--/.well -->
        </div><!--/span-->
<%= render :partial => 'lateral' %>

        <div class="main-content main-content-small">


<% @statuses.each do |status|%>

	<div class='column'>
		<button class= 'btn pull-right' ><%= link_to "+", new_task_path(:status_id=> 1) %></button>
		<h4 class='block text-center'><%= status.name%></h4>
		<div class='block' data-id='<%=status.id%>'> </div>
	</div>

<script type="text/javascript">var p_id =<%= @projects[0].id %>;</script>
<script type="text/javascript" src="boards_controller.js">

</script>
<% end %>

</div>