<%= render :partial => 'lateral' %>

        <ul class="main-content main-content-big">


<% @statuses.each do |status|%>

	<li class='column'>
		<%= link_to "+", new_project_status_task_path(@project, status), :data => {:toggle => "modal", :remote => true, :target => '#modal'}, :class=>"btn pull-right" %>

		<h4 class='block text-center'><%= status.name%></h4>
		<div class='' data-id='<%=status.id%>'> </div>

		<% status.tasks.each do |task| %>
			<div class='task block'>
				<i class='icon-move pull-right'></i>
				<h5>
					<%= link_to task.name, project_status_task_path(task.status.project, task.status, task) ,:data => {:toggle => "modal", :remote => true, :target => '#modal-large'} %>
				</h5>


				<span class='label label-info' style="background-color: <%= task.label.color %>" >
					<%= task.label.name %>
				</span>
				<span class='badge'>
					<%= task.estimated_hours %>
				</span>
				<div class="block">
					<% task.users.each do |user| %>
						<img src='/assets/NA.jpg' data-toggle='tooltip' title="<%=user.email%>"></img>
					<% end %>
				</div>
			</div>
		<% end %>
  	</li>


<% end %>
<%= link_to "+", new_project_status_path(:project_id => @project.id),:class=>"btn",:style=>"margin-top:50px;" %>


<%- content_for(:javascripts) do -%>
  <!-- <script type="text/javascript">var p_id =<%= @project.id %></script> -->
  <!-- <%= javascript_include_tag "boards_controller" %> -->
<%- end -%>

</ul>
