<div class="progress progress-striped active center-progress">
  <div class="bar" style="width: 100%;"></div>
</div>

<%= render :partial => 'lateral' %>

<ul  class="board board-big scroll hide">


<% @statuses.each_with_index do |status , j|%>

	<li draggable="false" data-id="<%= status.id %>" data-pos="<%= j+1 %>"  class='column' >
		
		<%= link_to "+", new_project_status_task_path(@project, status), :data => {:toggle => "modal", :remote => true, :target => '#modal'}, :class=>"btn pull-right" %>
		<h4 class='block text-center handle'><%= status.name%></h4>

		<ul class='sortable scroll' data-id='<%=status.id%>'> 
			<% status.tasks.each_with_index do |task , i| %>


					<li data-id="<%= task.id %>" class='task'>

						<div class="task-info block">

									<span class='task-type' style="background-color: <%= task.label.color %>" >
										<%= task.label.name %>
									</span>
									<span class='task-time'>
										<%= task.estimated_hours %>
									</span>
						</div>
						<h5>
							<%= link_to task.name, project_status_task_path(task.status.project, task.status, task) ,:data => {:toggle => "modal", :remote => true, :target => '#modal-large'} %>
						</h5>


						<div class="task-users block">
							<% task.users.each do |user| %>
								<img src='/assets/NA.png' data-toggle='tooltip' title="<%=user.email%>"></img>
							<% end %>
						</div>
					</li>
	
			<% end %>
		</ul>

	</li>
<% end %>

<%= link_to "+", new_project_status_path(:project_id => @project.id),:class=>"add" %>

</ul>





<%- content_for(:javascripts) do -%>
  <!-- <script type="text/javascript">var p_id =<%= @project.id %></script> -->
  <!-- <%= javascript_include_tag "boards_controller" %> -->
  <script type="text/javascript">
 

  $(function(){ //DOM Ready
 

    $('ul.board').sortable({
      handle: ".handle",
       stop: function(event, ui){
                var children = $(ui.item).parents(".board").children("li");

                children.each(function() {

                  var id = $(this).data("id");
                  var col = $(this).index();

                  console.log(id +":" + col);

                  $.post( "statuses/update_order", { status_id: id, num: col } );

                })
                


          }
    });

  $( "ul.sortable" ).sortable({
      connectWith: "ul.sortable",
      placeholder: "ui-state-highlight",
      start: function (event, ui) {
            $(ui.item).addClass("dragging");    
            ui.placeholder.addClass("sortable-placeholder") ;                           
      },
      stop: function(event, ui){
            $(ui.item).removeClass("dragging");
            var id = $(ui.item).data("id");
            var col = $(ui.item).parents(".column").data("id");
            $.post( "tasks/update_status", { task_id: id, col: col } );


      }
    });
 	
  $('.ltl-nav').removeClass('hide');
  $('.board').removeClass('hide');
	$('.progress').addClass('hide');

	$('.board').addClass('slide-left');
	$('.ltl-nav').addClass('slide-right');
	var w = $('.column').outerWidth()*<%= @statuses.count %>;






$('#side_close_button').click(ltl_bar_change);



});


function ltl_bar_change(){
  if($('.ltl-nav-open').length>0){

    $('.ltl-nav-open').addClass('ltl-nav-close');
    $('.ltl-nav-open').removeClass('ltl-nav-open');
    $('.main-content-small').addClass('main-content-big');
    $('.main-content-small').removeClass('main-content-small');
  }
  else{
    
    $('.ltl-nav-close').addClass('ltl-nav-open');
    $('.ltl-nav-close').removeClass('ltl-nav-close');
    $('.main-content-big').addClass('main-content-small');
    $('.main-content-big').removeClass('main-content-big');
  }
}


  </script>
<%- end -%>

</ul>
