<div class="loading">
  <div id="bowlG">
<div id="bowl_ringG">
<div class="ball_holderG">
<div class="ballG">
</div>
</div>
</div>
</div>
</div>


<div class="filters-container hide"> 
  <form id="filters" style=" margin-left:15px;">
    <label for="tasks-created" >Show Tasks:</label>
    <select name="tasks-created" id="tasks-created">
      <option>All</option>
      <option>Last Month</option>
      <option>Last Week</option>
      <option>Today</option>
    </select>
    <label class="tasks-created-label" for="tasks-created" style=" width: 100px;">All</label>
    <!--<div class="btn"  onClick="filterByDateClick();"> Filter </div>-->
    <%= link_to "Add Column", new_project_status_path(:project_id => @project.id),:class=>"btn btn-primary pull-right",:style =>"margin:5px;",:data => {:toggle => "modal", :remote => true, :target => '#modal'} %>
  </form>

</div>

<ul  class="board board-big scroll hide">


<% @statuses[0..-2].each_with_index do |status , j|%>


	<li draggable="false" data-id="<%= status.id %>" data-pos="<%= j+1 %>"  class='column' >
		
		<%= link_to "+", new_project_status_task_path(@project, status), :data => {:toggle => "modal", :remote => true, :target => '#modal'}, :class=>"btn pull-right",:style=>"position:absolute; margin:5px;"%>
		<h4 class='block text-center handle'><%= status.name%></h4>
    <p class='block text-center handle task-percentage'><%= status.tasks.length.to_i*100/@total.to_i %>% of total tasks</p>

		<ul class='sortable scroll' data-id='<%=status.id%>'> 
			<% status.tasks.each_with_index do |task , i| %>

          <%= link_to project_status_task_path(task.status.project, task.status, task) ,:data => {:toggle => "modal", :remote => true, :target => '#modal-large'} do %>
					  <li data-id="<%= task.id %>"   class='task<%= if(task.lock) then " locked" end%>' data-created="<%= task.created_at %>">

              <div class="task-info block">
                <span class='task-type' style="background-color: <%= task.label.color %>" >
                  <%= task.label.name %>
                </span>
                <span class='task-time'>
                  <%= task.estimated_hours %>
                </span>
              </div>
              <h5>
               <%= task.name %>
              </h5>

              <div class="task-users block">
                  <% task.users.each do |user| %>
                          <%= gravatar_tag user.email%>
                  <% end %>
              </div>
            </li>
          <% end %>

      <% end %>
    </ul>
  </li>
<% end %>



</ul>


<div draggable="false" data-id="<%= @statuses.last.id %>" data-pos="<%= @statuses.last.order %>"  class='column fixed-right last hide'  >
    
  
    <h4 class='block text-center handle'><%= @statuses.last.name%></h4>
    <p class='block text-center handle task-percentage'><%= @statuses.last.tasks.length*100/@total %>% of total tasks</p>

    <ul class='sortable scroll' data-id='<%=@statuses.last.id%>' style="margin:0px;"> 
      <% @statuses.last.tasks.each_with_index do |task , i| %>

        <%= link_to project_status_task_path(task.status.project, task.status, task) ,:data => {:toggle => "modal", :remote => true, :target => '#modal-large'} do %>
          <li data-id="<%= task.id %>" class='task<%= if(task.lock) then " locked" end%>' data-created="<%= task.created_at %>">

            <div class="task-info block">
                  <span class='task-type' style="background-color: <%= task.label.color %>" >
                    <%= task.label.name %>
                  </span>
                  <span class='task-time'>
                    <%= task.estimated_hours %>
                  </span>
            </div>
            <h5>
            <%= task.name %>
            </h5>

            <div class="task-users block">
              <% task.users.each do |user| %>
              <%= gravatar_tag user.email%>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>

  </div>










<%- content_for(:javascripts) do -%>
  <!-- <script type="text/javascript">var p_id =<%= @project.id %></script> -->
  <!-- <%= javascript_include_tag "boards_controller" %> -->
  <script type="text/javascript">
 
console.log(<%= @highlight%>);
var totalTasks = <%= @total%>;

function filterByDateClick(){

  if($( "#tasks-created" )[0].value =="Last Week") {
    var date = new Date(Date.now());
    date.setDate(date.getDate()-7);
    date.setHours(0);
    date.setMinutes(0);
    date.setSeconds(0);
    filterByDate(date);
  }
  else if($( "#tasks-created" )[0].value =="Today"){
    var date = new Date(Date.now());
    date.setHours(0);
    date.setMinutes(0);
    date.setSeconds(0);

    filterByDate(date);
  }
  else if($( "#tasks-created" )[0].value =="Last Month"){
    var date = new Date(Date.now());
    date.setMonth(date.getMonth()-1);
    date.setHours(0);
    date.setMinutes(0);
    date.setSeconds(0);

    filterByDate(date);
  }
  else {
    var date = new Date("October 16, 1989 00:00:00");
    filterByDate(date);

  }

}

function filterByDate(date){

  $(".sortable").children().each(
    function(index){


      var stringdate = new String($(this).data("created")).replace(' UTC', '');
      stringdate = stringdate.split(' ')[0];
      var dateItem = new Date(stringdate);

      if(dateItem>date){
        $(this).show();
        $(this).removeAttr("vis");
      }
      else{
        $(this).hide();
        $(this).attr("vis","hidden");
      }




    });


      $(".sortable").each(function(index) {
            var i = Math.floor( $(this).children("[vis!='hidden']").length*100/totalTasks );

            $(this).parent().children(".task-percentage").html(i + "% of total tasks");


      });


}


  $(function(){ //DOM Ready
 
  $(function() {
    var select = $( "#tasks-created" );
    select.hide();
    var slider = $( "<div id='slider' style='width:200px; display: inline-block; margin-top:10px; margin-left: 20px; margin-right: 20px;'></div>" ).insertAfter( select ).slider({
      min: 1,
      max: 4,
      range: "min",
      value: select[ 0 ].selectedIndex + 1,
      slide: function( event, ui ) {
        select[ 0 ].selectedIndex = ui.value - 1;
        $(".tasks-created-label").html(select[ 0 ].value)
        filterByDateClick();
      }
    });
  });





    $('ul.board').sortable({
      handle: ".handle",
       stop: function(event, ui){
                var children = $(ui.item).parents(".board").children("li");

                children.each(function() {

                  var id = $(this).data("id");
                  var col = $(this).index();


                  $.post( "statuses/update_order", { status_id: id, num: col } );

                })
                


          }
    });

  $( "ul.sortable" ).sortable({
      cursor: "move",
      items: "> a",
      connectWith: "ul.sortable",
      placeholder: "ui-state-highlight-board",
      forcePlaceholderSize: true,
      helper: "clone",
        appendTo: 'body',
        containment: 'body',        
        scroll: false,   
      start: function (event, ui) {
            var i = Math.floor(  ($(ui.item).parent().children().length-2)*100/totalTasks );
            $(ui.item).parent().parent().children(".task-percentage").html(i + "% of total tasks");
            $(ui.helper).addClass("dragging"); 
            $(ui.helper).appendTo('body');

      },
      stop: function(event, ui){
            var id = $(ui.item).find("li").data("id")
            var col = $(ui.item).parents(".column").data("id")

            $(ui.item).attr("href","<%= project_path(@project) %>"+"/statuses/"+col+"/tasks/"+id)
            $.post( "tasks/update_status", { task_id: id, col: col } );
            var i = Math.floor(  $(ui.item).parent().children().length*100/totalTasks );
            $(ui.item).parent().parent().children(".task-percentage").html(i + "% of total tasks");
      }
    });
         
  $('.hide').removeClass('hide');

	$('.loading').addClass('hide');
$('.main-content-small').addClass('main-content-big');


});






  </script>
<%- end -%>

</ul>
</ul>
