<%= render :partial => 'lateral' %>

        <div class="main-content main-content-small">


<% @statuses.each do |status|%>

	<div class='column'>
		<button class= 'btn pull-right' ><%= link_to "+", new_task_path(:status_id=> status.id,:pr_id => @project) %></button>
		<h4 class='block text-center'><%= status.name%></h4>
		<div class='block' data-id='<%=status.id%>'> </div>

  <% status.tasks.each do |task|%>
    <div class='task'>
      <%= link_to task.name, task_path(task, :status_id=> status.id,:pr_id => @project) %>
      (<%= task.task_type %>)
      <ul>Owners:</ul>
      <% task.users.each do |owner|%>
        <li><%= owner.email %></li>

      <% end %>



    </div>
  <% end %>
  
  </div>

<script type="text/javascript">var p_id =<%= @project %>;</script>
<script type="text/javascript" src="boards_controller.js">

</script>
<% end %>

</div>