<%- model_class = ProjectRoleUser -%>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  		
      <h1>Add User</h1>

  </div>
<%= bootstrap_flash %>
  	<div class="modal-body">
  		<table class="table table-striped">
  			<thead>
    			<tr>
    				<th>User</th>
    				<th>Role</th>
            <th></th>
    			</tr>
    		</thead>
    		<tbody>
    			<% @project_role_users.each do |project_role_user| %>
    			<tr>
    				<td><%= project_role_user.user.email %></td>
    				<td><%= project_role_user.role.name %></td>
            <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_project_role_user_path(@project, project_role_user),
                      :remote => true,
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %></td>
    			</tr>
    			<% end %>
    		</tbody>
    	</table>
  	</div>
		  <%= simple_form_for [@project, @project_role_user], :html => { :class => 'form-horizontal' }, :remote => true do |f| %>
    <div class="modal-body big">  
		  <%= f.association :user, :include_blank => false, 
                               :label_method => :email, 
                               :input_html => { class: 'chosen-select selectpicker' } %>
      <%= f.association :role, :include_blank => false, 
                               :input_html => { class: 'chosen-select selectpicker' } %>
      <%= f.input :project_id,:as => :hidden, :input_html => { :value => "#{@project.id}" } %>
    </div>
    <div class="modal-footer">
     <!-- Le entregamos a la invitacion mediante el link_to el id del proyecto -->
       
		  <%= f.button :submit, 'Add user', :class => 'btn-primary' %>
      <%= link_to 'Invite', new_user_invitation_path(:id => @project.id), :class => 'btn btn-primary' , :remote => true %>
		  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), "", :class => 'btn', :data => {:dismiss => "modal"} %>
	   </div>

		<% end %>
  		
  	

