<%= simple_form_for @test_case, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :description %>
  <%= f.input :executed_at %>
  <%= f.input :approved %>
  <%= f.input :test_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                test_cases_path, :class => 'btn' %>
  </div>
<% end %>
