<p class="well"><strong>Instrucctions: </strong>Select the data type and click the '+' button to add a field to the Template.</p>


<%= form_for [@use_case_template.project, @use_case_template], :html => { :class => 'form-horizontal' } do |f| %>
	<div class="control-group">
		<%= f.label :name, 'Name' ,:class => "control-label string required" %>
		<div class="controls required"> <%= f.text_field :name %> </div>
	</div>

    <div id="template_input">
        
    </div>

	<div class="control-group">
		<div class="controls"> <%= link_to 'Add Atributte +', '#', :id => 'add_atributte', :class => "btn" %> </div>
	</div>
	
  <!--%= f.input :template_form %-->
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_use_case_templates_path, :class => 'btn' %>
  </div>
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript">
		var i = 1;
		$("#add_atributte").click(function() {
			var html = "<%= escape_javascript(render 'parameter').gsub('\"', '\'' ).html_safe %>";
			html = replaceAll(html, "identifier", i);
			$("#template_input").append(html);
			chosenSelect();
			//$('.input-tag').tag();
			i++;
			return false;
		})
	</script>
<% end %>
