<%= simple_form_for(@test) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :task_id %>
    <%= f.input :description %>
    <%= f.input :name %>
    <%= f.input :code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
