<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @test.task_id %>
</p>

<p>
  <b>Description:</b>
  <%= @test.description %>
</p>

<p>
  <b>Name:</b>
  <%= @test.name %>
</p>

<p>
  <b>Code:</b>
  <%= @test.code %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
