<h1>Listing use_case_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @use_case_groups.each do |use_case_group| %>
  <tr>
    <td><%= use_case_group.name %></td>
    <td><%= use_case_group.project_id %></td>
    <td><%= link_to 'Show', use_case_group %></td>
    <td><%= link_to 'Edit', edit_use_case_group_path(use_case_group) %></td>
    <td><%= link_to 'Destroy', use_case_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Use case group', new_use_case_group_path %>
