<%= simple_form_for(@task_user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :task_id %>
    <%= f.input :user_id %>
    <%= f.input :developer_id %>
    <%= f.input :creator_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
